{% if table %}
  {% load django_tables2 %}
  {% render_table table %}
{% else %}
  <div class="alert alert-dismissible alert-info fade show">
    <button type="button" class="close">&times;</button>
    <h4 class="alert-heading">Heads up!</h4>
    <p class="mb-0">No fluid intake and output to show. <a href="{% url 'patient_monitoring_admin:index' %}" class="alert-link">Create</a> one now.</p>
  </div>
{% endif %}

<script>
$(document).ready(function () {
	const fluidsUpdate = $(this).find('.update-fluids');
	const fluidsDelete = $(this).find('.delete-fluids');
    
    fluidsUpdate.each(function () {
    	  $(this).modalForm({formURL: $(this).attr('href'), modalID: "#monitoring-modal"});
        $(this).removeAttr('href');
    });
    
    fluidsDelete.each(function () {
      $(this).modalForm({formURL: $(this).attr('href'), modalID: "#monitoring-modal"});
      $(this).removeAttr('href');
    });
});
</script>