<h4 class="text-center">Patient Monitoring</h4>
<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="tl-monitoring" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="monitoring-tab-1"
      data-mdb-toggle="tab"
      href="#monitoring-tabs-1"
      role="tab"
      aria-controls="monitoring-tabs-1"
      aria-selected="false"
      >Vital Signs</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="monitoring-tab-2"
      data-mdb-toggle="tab"
      href="#monitoring-tabs-2"
      role="tab"
      aria-controls="monitoring-tabs-2"
      aria-selected="true"
      >Fluid Intake and Output</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="monitoring-tab-3"
      data-mdb-toggle="tab"
      href="#monitoring-tabs-3"
      role="tab"
      aria-controls="monitoring-tabs-3"
      aria-selected="false"
      >Turning Schedule</a
    >
  </li>
</ul>
<!-- Tabs navs -->

<div class="spinner1">
  <div class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="monitoring-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<!-- Tabs content -->
<div class="tab-content" id="monitoring-content">
  <div
    class="tab-pane fade active show"
    id="monitoring-tabs-1"
    role="tabpanel"
    aria-labelledby="monitoring-tab-1"
  >
    <div id="vitalsigns"></div>
    <div class="spinner2">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
    <!-- Create VS button -->
    <button id="create-vs" class="btn btn-primary" type="button" name="button">Create Vital Signs</button> 
  </div>
  <div class="tab-pane fade" id="monitoring-tabs-2" role="tabpanel" aria-labelledby="monitoring-tab-2">
    <div id="fluids"></div>  
    <div class="spinner2">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
    <!-- Create Fluid Intake and Output button -->
    <button id="create-fluids" class="btn btn-primary" type="button" name="button">Create Fluid Intake and Output</button>
  </div>
  <div class="tab-pane fade" id="monitoring-tabs-3" role="tabpanel" aria-labelledby="monitoring-tab-3">
    <div id="turning"></div> 
    <div class="spinner2">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
    <!-- Create Turning Schedule button -->
    <button id="create-turning" class="btn btn-primary" type="button" name="button">Create Turning Schedule</button> 
  </div>
</div>
<!-- Tabs content -->