{% if table %}
  {% load django_tables2 %}
  {% render_table table %}
{% else %}
  <div class="alert alert-dismissible alert-info fade show">
    <button type="button" class="close">&times;</button>
    <h4 class="alert-heading">Heads up!</h4>
    <p class="mb-0">No turning schedule to show. <a href="{% url 'patient_monitoring_admin:index' %}" class="alert-link">Create</a> one now.</p>
  </div>
{% endif %}

<script>
$(document).ready(function () {
	const turningUpdate = $(this).find('.update-turning');
	const turningDelete = $(this).find('.delete-turning');
    
    turningUpdate.each(function () {
    	  $(this).modalForm({formURL: $(this).attr('href'), modalID: "#monitoring-modal"});
        $(this).removeAttr('href');
    });
    
    turningDelete.each(function () {
      $(this).modalForm({formURL: $(this).attr('href'), modalID: "#monitoring-modal"});
      $(this).removeAttr('href');
    });
});
</script>