{% if table %}
  {% load django_tables2 %}
  {% render_table table %}
{% else %}
  <div class="alert alert-dismissible alert-info fade show">
    <button type="button" class="close">&times;</button>
    <h4 class="alert-heading">Heads up!</h4>
    <p class="mb-0">No vital signs to show. <a href="{% url 'patient_monitoring_admin:index' %}" class="alert-link">Create</a> one now.</p>
  </div>
{% endif %}

<script type="text/javascript">
$(document).ready(function() {
 
    const vsUpdate = $(this).find('.update-vs');
    const vsDelete = $(this).find('.delete-vs');
    
    vsUpdate.each(function () {
      $(this).modalForm({formURL: $(this).attr('href'), modalID: "#monitoring-modal"});
      $(this).removeAttr('href');
    }); 
    
    vsDelete.each(function () {
      $(this).modalForm({formURL: $(this).attr('href'), modalID: "#monitoring-modal"});
      $(this).removeAttr('href');
    });
    
    $('#create-fluids').modalForm({
        formURL: "{% url 'geriatrics:patient_monitoring:fluids-create' admission.id %}",
        modalID: "#monitoring-modal"
    });
    
    $('#create-turning').modalForm({
        formURL: "{% url 'geriatrics:patient_monitoring:turning-create' admission.id %}",
        modalID: "#monitoring-modal"
    });
});
</script>
